@import "components/variables.scss";
@import "components/elements.scss";
@import "components/mixin.scss";
@import "components/fonts.scss";








*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family:"Segoe regular";
}
.page {

    &__wrapper {
        width: 80%;
        margin: 0 auto;
    }

    &__wrapper--footer {
        @include d-between;
    }

    .header {
        background-image: url(images/header.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center,center;
        background-position-y: -370px;

        .main {
            @include d-between;
            padding: 65px 0 35px 0;

            .logo--big {
                height: 50px;
            }
            
            .logo--small {
                display: none;
            }

            .navbar {
                display: flex;
                color: white;
                align-items: center;

                &__item {
                    padding-right: 10px;
                    padding-left: 10px;
                    cursor: pointer;
                }

                &__item--responsive {
                    display: none;
                    height: 30px;
                }

                &__link {
                    color: white;
                }

                &__link--active {
                    border-bottom: 3px solid #FFDD33;
                    padding-bottom: 10px;
                }
            }
        }



        .actions {
            padding: 10px;
            margin-top: 30px;
            @include d-centre;
            margin-bottom: 40px;

            &__item {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &__dashboard-img {
            width: 70%;
            display: block;
            margin: 0 auto;
        }

        .images {
            @include d-around;
            margin: 0 auto;
            margin-top: 150px;

            &__item {
                height: 60px;
                opacity: 0.2;
            }

            &__item--active {
                opacity: 1;
            }
        }
    }


    .introduction {
        background-color: #FBFCFE;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;


        .title--black {
            line-height: 85px;
            padding-top: 80px;
        }

        .subtitle--grey {
            width: 40%;
            line-height: 25px;
        }

        .cards {
            margin-top: 100px;
            @include d-around;
            padding-bottom: 100px;
            flex-wrap: wrap;
        

            .card {
                width: 22%;
                box-shadow: 0px 0px 10px -4px #707070;
                border-radius: 10px;
                padding: 50px 25px;
                min-width: 220px;
                margin: 0 10px;


                &__title {
                    line-height: 60px
                }

                &__text {
                    font-size: 14px;
                    color: $txt-grey;
                    line-height: 20px;
                }
            }
        }
    }

    .info {
        @include d-centre;
        margin-top: 100px;
        margin-bottom: 80px;


        &__box {
            padding: 15% 2%;
            width: 40%;
            box-shadow: 0px 5px 11px 1px rgba(36,38,114,0.44);
            border-radius: 10px;
        }

        .about {
            width: 35%;
            margin-left: 100px;
        }

        .title--black {
            line-height: 85px;
            text-align: inherit;
        }

        .subtitle--grey {
            margin-bottom: 30px;
            margin-top: 10px;
            line-height: 25px;
            text-align: justify;
        }

        .contents {
            margin-bottom: 35px;
            width: 80%;


            .content {
                display: flex;
                margin-top: 20px;
                align-items: center;
                font-size: 15px;
                color: $txt-grey;


                .checkbox {
                    background-color: #EFFFFB;
                    padding: 10px;
                    border-radius: 10px;
                    margin-right: 20px;


                    &__icon {
                        color: $txt-grey;
                        font-size: 14px;
                        margin-top: 5px;
                        height: 15px;
                    }
                }

                &__about {
                    font-size: 14px;
                }
            }
        }

        &--reverse {
            flex-direction: row-reverse;
        }
    }



    .banner {
        background-size: 100% 100%;
        background-image: url(images/backgroungImgNearHeader.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-repeat: no-repeat;
        padding-bottom: 120px;



        .title--white {
            text-align: center;
            margin-bottom: 30px;
        }

        .subtitle--white {
            line-height: 25px;
            margin-bottom: 30px;
            width: 40%;
        }

        &--footer {
            background-image: url(images/backgroundImgNearFooter.png);
            padding: 20px 0 45px 0;


            .title--white {
                padding-top: 130px;
            }

            .subtitle--white {
                line-height: 25px;
                margin-bottom: 30px;
            }
        }
    }


    .testimonial {
        background-color: #FBFCFE;


        .title--black {
            font-weight: bold;
            margin-top: 5%;
            padding-top: 5%;
        }

        .cards {
            display: flex;
            justify-content: center;
            margin-top: 100px;
            flex-wrap: wrap;


            .card {
                margin: 0 10px;
                background-color: white;
                padding: 20px 20px 35px;
                text-align: center;
                width: 20%;
                border-radius: 5px;
                box-shadow: 0px 5px 11px 1px rgba(36,38,114,0.44);
                min-width: 220px;


                &__photo {
                    position: relative;
                    height: 70px;
                    top: -55px;
                    display: block;
                    margin: 0 auto;
                }

                &__title {
                    line-height: 60px;
                }

                &__subtitle {
                    margin-bottom: 30px;
                    color: $txt-grey;
                    font-size: 13px;
                }

                &__text {
                    font-size: 14px;
                    color: #7E92AC;
                    line-height: 20px;
                }

                .rate {
                    margin-top: 25px;
                    @include d-centre;


                    &__item {
                        padding: 5px;
                    }
                }
            }
        }

        .slide {
            display: flex;
            list-style: none;
            padding-top: 90px;
            padding-bottom: 90px;
            width: 80px;
            margin-left: auto;
            margin-right: auto;


            &__item {
                margin-left: 10px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #CEDDF3;
            }

            &__item--active {
                background-color: #6736F9;
            }
        }
    }
   

    .price {
        background-image: url(images/priceBackground.png);
        background-repeat: no-repeat;
        background-size: cover;


        .title--white {
            padding-top: 80px;
        }

        .subtitle--white {
            padding-top: 20px;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            font-weight: 400;
        }

        .lists {
            padding-top: 60px;
            @include d-centre;
            list-style: none;
            padding-bottom: 100px;
            flex-wrap: wrap;


            .list {
                border-radius: 5px;
                width: 25%;
                text-align: center;
                background-color: white;
                display: flex;
                flex-direction: column;
                padding: 20px;
                min-width: 220px;


                &--active {
                    background-color: #6837FA;
                    color: white;
                    margin-right: 20px;
                    margin-left: 20px;
                }

                &__title {
                    font-size: 20px;
                    display: block;
                    text-align: center;
                }

                &__cost {
                    font-size: 50px;
                    display: block;
                    text-align: center;
                    padding-top: 20px;
                    padding-bottom: 10px;
                }

                &__description {
                    font-size: 14px;
                    text-align: center;
                }

                &__about {
                    font-size: 14px;
                    text-align: center;
                    padding-top: 25px;
                }

                .benefits {
                    list-style: none;
                    padding-top: 20px;
                    display: block;
                    color: #7E92AC;
                    margin: 0 auto auto auto;


                    .benefit {
                        display: flex;
                        font-size: 14px;
                        padding-top: 8px;


                        &__icon {
                            height: 15px;
                            padding-right: 15px;
                        }

                        &__text {
                            font-size: 12px;
                        }
                    }

                    &--active {
                        color: white;
                    }
                }

                &__button {
                    margin-right: auto;
                    margin-left: auto;
                }

                &__button--active {
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 35px;
                }
            }

            
        }
    }


    .faq {
        background-color: #F8FFFD;


        .title--black {
            padding-top: 90px;
        }

        .subtitle--black {
            font-size: 14px;
            font-weight: 500;
            padding-top: 25px;
            width: 50%;
            line-height: 20px;
            margin: 0 auto;
            min-width: 250px;
        }

        .about {
            @include d-centre;
            margin-top: 100px;


            .questions {
                width: 46%;


                .question {
                    display: flex;
                    margin-bottom: 50px;


                    &__img {
                        height: 80px;
                        margin-top: -20px;
                    }

                    .dialog{

                        &__title {
                            font-size: 20px;
                        }

                        &__text {
                            color: $txt-grey;
                            font-size: 12px;
                            line-height: 20px;
                        }
                    }
                }

                
            }

            .questions:last-child {
                padding-bottom: 150px;
            }
        }
    }


    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;


        .title--black {
            line-height: 100px;
        }

        .subtitle--grey {
            font-size: 14px;
            font-weight: 500;
            width: 40%;
        }

        &__text {
            width: 40%;
            height: 40px;
            border-radius: 5px;
            border: 1px solid;
            margin-top: 50px;
            border-color: #C3CCE8;
            text-indent: 20px;
        }

        &__email {
            width: 40%;
            height: 40px;
            margin-top: 20px;
            border-radius: 5px;
            border: 1px solid;
            border-color: #C3CCE8;
            text-indent: 20px;
        }

        &__message {
            width: 40%;
            height: 200px;
            text-indent: 20px;
            padding-top: 15px;
            margin-top: 20px;
            margin-bottom: 30px;
            border-radius: 5px;
            border-color: #C3CCE8;
            resize: none;
            font-style: normal;
        }

        &__button {
            margin-bottom: 50px;
        }
    }


    .footer {
        margin-top: 50px;


        .footer-items {
            @include d-between;
            width: 50%;


            .about {
                display: flex;
                flex-direction: column;
                width: 40%;


                &__title {
                    line-height: 100px;
                    font-size: 20px;
                    font-weight: 500;
                }

                &__text {
                    font-size: 14px;
                    color: $txt-grey;
                    line-height: 20px;
                }

                &__subtext {
                    padding-top: 15px;
                    font-size: 14px;
                    color: $txt-grey;
                    line-height: 20px;
                }
            }

            .quick-link {
                width: 30%;


                &__title {
                    line-height: 100px;
                    font-size: 20px;
                    font-weight: 500;
                }

                .links {
                    
                    &__item {
                        font-size: 14px;
                        color: $txt-grey;
                    }

                    &__item:not(:first-child) {
                        padding-top: 14px;
                    }
                }
            }
        }


        .subscribe {
            width: auto;
            display: flex;
            flex-direction: column;


            &__title {
                font-size: 20px;
                font-weight: 500;
                line-height: 100px;
            }

            .form {
                display: flex;


                &__email {
                    width: 250px;
                    border-radius: 5px;
                    border: 1px solid;
                    border-color: #C3CCE8;
                    border-right: none;
                    text-indent: 10px;
                }

                &__button {
                    margin-left: -10px;
                    background-color: $btn-darkYellow;
                    width: 160px;
                }

                &__send-icon {
                    height: 15px;
                    margin-left: 5px;
                }

            }

            .social-icons {
                @include d-between;
                width: 100px;
                list-style: none;
                margin-top: 30px;


                .social-icon {
                    
                    &__item {
                        height: 30px;
                    }
                }

            }
        }


        .background--footer {
            padding: 30px 0;
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            background-image: url(images/footerBackground.png);
            background-repeat: no-repeat;
            background-size: cover;


            .copyright {
                color: white;
            }

            .navbar {
                color: white;
                @include d-around;
                list-style: none;


                &__item {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                &__link {
                    color: white;
                }
            }
        }
    }

}


@import "components/media.scss";