.title {
  text-align: center;
  padding-top: 50px;
  font-size: 50px; }

.title--white {
  color: white; }

.subtitle {
  font-size: 15px;
  text-align: center;
  font-weight: 500; }

.subtitle--grey {
  color: #7E92AC; }

.subtitle--black {
  color: black; }

.subtitle--white {
  color: white; }

.button {
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: #572BD9;
  border-radius: 5px;
  color: white; }

.button--yellow {
  background-color: #FFDD33; }

.button:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 18px 4px rgba(112, 112, 112, 0.66);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 18px 4px rgba(112, 112, 112, 0.66); }

@font-face {
  src: url("fonts/Segoe UI.ttf");
  font-family: "Segoe regular"; }

@font-face {
  src: url("fonts/Segoe UI Bold.ttf");
  font-family: "Segoe bold"; }

* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe regular"; }

.page__wrapper {
  width: 80%;
  margin: 0 auto; }

.page__wrapper--footer {
  display: flex;
  justify-content: space-between; }

.page .header {
  background-image: url(images/header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center,center;
  background-position-y: -370px; }
  .page .header .main {
    display: flex;
    justify-content: space-between;
    padding: 65px 0 35px 0; }
    .page .header .main .logo--big {
      height: 50px; }
    .page .header .main .logo--small {
      display: none; }
    .page .header .main .navbar {
      display: flex;
      color: white;
      align-items: center; }
      .page .header .main .navbar__item {
        padding-right: 10px;
        padding-left: 10px;
        cursor: pointer; }
      .page .header .main .navbar__item--responsive {
        display: none;
        height: 30px; }
      .page .header .main .navbar__link {
        color: white; }
      .page .header .main .navbar__link--active {
        border-bottom: 3px solid #FFDD33;
        padding-bottom: 10px; }
  .page .header .actions {
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .page .header .actions__item {
      margin-left: 15px;
      margin-right: 15px; }
  .page .header__dashboard-img {
    width: 70%;
    display: block;
    margin: 0 auto; }
  .page .header .images {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 150px; }
    .page .header .images__item {
      height: 60px;
      opacity: 0.2; }
    .page .header .images__item--active {
      opacity: 1; }

.page .introduction {
  background-color: #FBFCFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px; }
  .page .introduction .title--black {
    line-height: 85px;
    padding-top: 80px; }
  .page .introduction .subtitle--grey {
    width: 40%;
    line-height: 25px; }
  .page .introduction .cards {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    flex-wrap: wrap; }
    .page .introduction .cards .card {
      width: 22%;
      box-shadow: 0px 0px 10px -4px #707070;
      border-radius: 10px;
      padding: 50px 25px;
      min-width: 220px;
      margin: 0 10px; }
      .page .introduction .cards .card__title {
        line-height: 60px; }
      .page .introduction .cards .card__text {
        font-size: 14px;
        color: #7E92AC;
        line-height: 20px; }

.page .info {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px; }
  .page .info__box {
    padding: 15% 2%;
    width: 40%;
    box-shadow: 0px 5px 11px 1px rgba(36, 38, 114, 0.44);
    border-radius: 10px; }
  .page .info .about {
    width: 35%;
    margin-left: 100px; }
  .page .info .title--black {
    line-height: 85px;
    text-align: inherit; }
  .page .info .subtitle--grey {
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 25px;
    text-align: justify; }
  .page .info .contents {
    margin-bottom: 35px;
    width: 80%; }
    .page .info .contents .content {
      display: flex;
      margin-top: 20px;
      align-items: center;
      font-size: 15px;
      color: #7E92AC; }
      .page .info .contents .content .checkbox {
        background-color: #EFFFFB;
        padding: 10px;
        border-radius: 10px;
        margin-right: 20px; }
        .page .info .contents .content .checkbox__icon {
          color: #7E92AC;
          font-size: 14px;
          margin-top: 5px;
          height: 15px; }
      .page .info .contents .content__about {
        font-size: 14px; }
  .page .info--reverse {
    flex-direction: row-reverse; }

.page .banner {
  background-size: 100% 100%;
  background-image: url(images/backgroungImgNearHeader.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-repeat: no-repeat;
  padding-bottom: 120px; }
  .page .banner .title--white {
    text-align: center;
    margin-bottom: 30px; }
  .page .banner .subtitle--white {
    line-height: 25px;
    margin-bottom: 30px;
    width: 40%; }
  .page .banner--footer {
    background-image: url(images/backgroundImgNearFooter.png);
    padding: 20px 0 45px 0; }
    .page .banner--footer .title--white {
      padding-top: 130px; }
    .page .banner--footer .subtitle--white {
      line-height: 25px;
      margin-bottom: 30px; }

.page .testimonial {
  background-color: #FBFCFE; }
  .page .testimonial .title--black {
    font-weight: bold;
    margin-top: 5%;
    padding-top: 5%; }
  .page .testimonial .cards {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap; }
    .page .testimonial .cards .card {
      margin: 0 10px;
      background-color: white;
      padding: 20px 20px 35px;
      text-align: center;
      width: 20%;
      border-radius: 5px;
      box-shadow: 0px 5px 11px 1px rgba(36, 38, 114, 0.44);
      min-width: 220px; }
      .page .testimonial .cards .card__photo {
        position: relative;
        height: 70px;
        top: -55px;
        display: block;
        margin: 0 auto; }
      .page .testimonial .cards .card__title {
        line-height: 60px; }
      .page .testimonial .cards .card__subtitle {
        margin-bottom: 30px;
        color: #7E92AC;
        font-size: 13px; }
      .page .testimonial .cards .card__text {
        font-size: 14px;
        color: #7E92AC;
        line-height: 20px; }
      .page .testimonial .cards .card .rate {
        margin-top: 25px;
        display: flex;
        justify-content: center; }
        .page .testimonial .cards .card .rate__item {
          padding: 5px; }
  .page .testimonial .slide {
    display: flex;
    list-style: none;
    padding-top: 90px;
    padding-bottom: 90px;
    width: 80px;
    margin-left: auto;
    margin-right: auto; }
    .page .testimonial .slide__item {
      margin-left: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #CEDDF3; }
    .page .testimonial .slide__item--active {
      background-color: #6736F9; }

.page .price {
  background-image: url(images/priceBackground.png);
  background-repeat: no-repeat;
  background-size: cover; }
  .page .price .title--white {
    padding-top: 80px; }
  .page .price .subtitle--white {
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 400; }
  .page .price .lists {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 100px;
    flex-wrap: wrap; }
    .page .price .lists .list {
      border-radius: 5px;
      width: 25%;
      text-align: center;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 20px;
      min-width: 220px; }
      .page .price .lists .list--active {
        background-color: #6837FA;
        color: white;
        margin-right: 20px;
        margin-left: 20px; }
      .page .price .lists .list__title {
        font-size: 20px;
        display: block;
        text-align: center; }
      .page .price .lists .list__cost {
        font-size: 50px;
        display: block;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px; }
      .page .price .lists .list__description {
        font-size: 14px;
        text-align: center; }
      .page .price .lists .list__about {
        font-size: 14px;
        text-align: center;
        padding-top: 25px; }
      .page .price .lists .list .benefits {
        list-style: none;
        padding-top: 20px;
        display: block;
        color: #7E92AC;
        margin: 0 auto auto auto; }
        .page .price .lists .list .benefits .benefit {
          display: flex;
          font-size: 14px;
          padding-top: 8px; }
          .page .price .lists .list .benefits .benefit__icon {
            height: 15px;
            padding-right: 15px; }
          .page .price .lists .list .benefits .benefit__text {
            font-size: 12px; }
        .page .price .lists .list .benefits--active {
          color: white; }
      .page .price .lists .list__button {
        margin-right: auto;
        margin-left: auto; }
      .page .price .lists .list__button--active {
        margin-right: auto;
        margin-left: auto;
        margin-top: 35px; }

.page .faq {
  background-color: #F8FFFD; }
  .page .faq .title--black {
    padding-top: 90px; }
  .page .faq .subtitle--black {
    font-size: 14px;
    font-weight: 500;
    padding-top: 25px;
    width: 50%;
    line-height: 20px;
    margin: 0 auto;
    min-width: 250px; }
  .page .faq .about {
    display: flex;
    justify-content: center;
    margin-top: 100px; }
    .page .faq .about .questions {
      width: 46%; }
      .page .faq .about .questions .question {
        display: flex;
        margin-bottom: 50px; }
        .page .faq .about .questions .question__img {
          height: 80px;
          margin-top: -20px; }
        .page .faq .about .questions .question .dialog__title {
          font-size: 20px; }
        .page .faq .about .questions .question .dialog__text {
          color: #7E92AC;
          font-size: 12px;
          line-height: 20px; }
    .page .faq .about .questions:last-child {
      padding-bottom: 150px; }

.page .contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .page .contact .title--black {
    line-height: 100px; }
  .page .contact .subtitle--grey {
    font-size: 14px;
    font-weight: 500;
    width: 40%; }
  .page .contact__text {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    margin-top: 50px;
    border-color: #C3CCE8;
    text-indent: 20px; }
  .page .contact__email {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #C3CCE8;
    text-indent: 20px; }
  .page .contact__message {
    width: 40%;
    height: 200px;
    text-indent: 20px;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-color: #C3CCE8;
    resize: none;
    font-style: normal; }
  .page .contact__button {
    margin-bottom: 50px; }

.page .footer {
  margin-top: 50px; }
  .page .footer .footer-items {
    display: flex;
    justify-content: space-between;
    width: 50%; }
    .page .footer .footer-items .about {
      display: flex;
      flex-direction: column;
      width: 40%; }
      .page .footer .footer-items .about__title {
        line-height: 100px;
        font-size: 20px;
        font-weight: 500; }
      .page .footer .footer-items .about__text {
        font-size: 14px;
        color: #7E92AC;
        line-height: 20px; }
      .page .footer .footer-items .about__subtext {
        padding-top: 15px;
        font-size: 14px;
        color: #7E92AC;
        line-height: 20px; }
    .page .footer .footer-items .quick-link {
      width: 30%; }
      .page .footer .footer-items .quick-link__title {
        line-height: 100px;
        font-size: 20px;
        font-weight: 500; }
      .page .footer .footer-items .quick-link .links__item {
        font-size: 14px;
        color: #7E92AC; }
      .page .footer .footer-items .quick-link .links__item:not(:first-child) {
        padding-top: 14px; }
  .page .footer .subscribe {
    width: auto;
    display: flex;
    flex-direction: column; }
    .page .footer .subscribe__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 100px; }
    .page .footer .subscribe .form {
      display: flex; }
      .page .footer .subscribe .form__email {
        width: 250px;
        border-radius: 5px;
        border: 1px solid;
        border-color: #C3CCE8;
        border-right: none;
        text-indent: 10px; }
      .page .footer .subscribe .form__button {
        margin-left: -10px;
        background-color: #FEB301;
        width: 160px; }
      .page .footer .subscribe .form__send-icon {
        height: 15px;
        margin-left: 5px; }
    .page .footer .subscribe .social-icons {
      display: flex;
      justify-content: space-between;
      width: 100px;
      list-style: none;
      margin-top: 30px; }
      .page .footer .subscribe .social-icons .social-icon__item {
        height: 30px; }
  .page .footer .background--footer {
    padding: 30px 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-image: url(images/footerBackground.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .page .footer .background--footer .copyright {
      color: white; }
    .page .footer .background--footer .navbar {
      color: white;
      display: flex;
      justify-content: space-around;
      list-style: none; }
      .page .footer .background--footer .navbar__item {
        padding-left: 10px;
        padding-right: 10px; }
      .page .footer .background--footer .navbar__link {
        color: white; }

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 40px; }
  .subtitle {
    font-size: 14px; }
  span {
    font-size: 14px; }
  .card__title {
    font-size: 20px; }
  .page .header .main .logo--big {
    height: 50px; }
  .navbar__item {
    font-size: 14px; }
  .button {
    font-size: 12px; }
  .page .header {
    background-position-y: -310px; }
  .page .header .images__item {
    height: 50px; }
  .card__text {
    font-size: 12px; } }

@media only screen and (max-width: 1024px) {
  .page .introduction .subtitle--grey {
    width: 80%; }
  .page .faq .subtitle--black {
    width: 80%; }
  .page .contact .subtitle--grey {
    width: 80%; }
  .page .header {
    background-position-y: -280px; }
  .page .header .main .logo--big {
    display: none; }
  .page .header .main .logo--small {
    display: inline; }
  .page .header .images__item {
    height: 40px; }
  .page .introduction .cards .card {
    margin: 20px 10px; }
  .page .testimonial .cards .card {
    margin: 40px 10px; }
  .list {
    margin: 20px 10px;
    min-height: 450px; }
  .page .info {
    flex-direction: column;
    align-items: center; }
  .page .info--reverse {
    flex-direction: column-reverse; }
  .page .info__box {
    width: 80%;
    padding: 27% 2%;
    min-width: 250px; }
  .page .info .contents {
    width: 80%; }
  .page .info .about {
    width: 80%;
    margin: 0; }
  .page__wrapper--footer {
    flex-direction: column; }
  .page .footer .footer-items {
    width: 100%; }
  .footer .navbar__item {
    display: none; }
  .background--footer {
    padding: 20px 0; }
  .copyright {
    display: block;
    margin: 0 auto; } }

@media only screen and (max-width: 780px) {
  .title {
    font-size: 30px; }
  .button {
    padding: 10px 10px; }
  .header .title--white {
    padding: 0; }
  .page.price .title--white {
    font-size: 30px; }
  .page .faq .title--black {
    font-size: 30px; }
  .logo--small {
    height: 50px; }
  .page .header .images {
    flex-wrap: wrap; }
  .page .header .images__item {
    min-width: 100px; }
  .page .header .navbar__item {
    display: none; }
  .page .header .main .navbar__item--responsive {
    display: inline; }
  .page .faq .about .questions:last-child {
    display: none; }
  .page .faq .about .questions {
    width: 100%; }
  .page .banner .subtitle--white {
    font-size: 12px;
    width: 90%; }
  .page .contact__email {
    width: 60%;
    font-size: 14px; }
  .page .contact__text {
    width: 60%;
    font-size: 14px; }
  .page .contact__message {
    width: 60%;
    font-size: 14px; }
  .page .footer .about {
    width: 50%; }
  .about__text {
    font-size: 12px; }
  .about__subtext {
    font-size: 12px; }
  .page .footer .footer-items .about__title {
    font-size: 14px; }
  .page .footer .footer-items .quick-link__title {
    font-size: 14px; }
  .quick-link__text {
    font-size: 12px; }
  .links__item {
    font-size: 12px; }
  .subscribe__title {
    font-size: 14px; }
  .form__email {
    font-size: 12px; } }

@media only screen and (max-width: 480px) {
  .title {
    font-size: 25px; }
  .page .header {
    background-position-y: -250px; } }
