@import "variables.scss";




.title {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

.title--white {
    color: white;
}

.subtitle {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}
.subtitle--grey {
    color: $txt-grey;
}

.subtitle--black {
    color: black
}

.subtitle--white {
    color: white;
}

.button {
    padding: 15px 30px;
    border: none;
    outline: none;
    background-color: $btn-primary;
    border-radius: 5px;
    color: white;
}

.button--yellow {
    background-color: $btn-yellow;
}

.button:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 18px 4px rgba(112,112,112,0.66); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 18px 4px rgba(112,112,112,0.66);
}