@media only screen and (max-width: 1200px){
    .title{
        font-size: 40px;
    }
 
    .subtitle{
        font-size: 14px;
    }
    span{
        font-size: 14px;
    }
    .card__title{
        font-size: 20px;
    }
 
    .page .header .main .logo--big{
        height: 50px;
    }
 
    .navbar__item{
        font-size: 14px;
    }
 
    .button{
        font-size: 12px;
    }
 
    .page .header{
        background-position-y: -310px;
    }
 
    .page .header .images__item{
        height: 50px;
    }
    .card__text{
        font-size: 12px;
    }
 
 }
 
 @media only screen and (max-width: 1024px){
     .page .introduction .subtitle--grey{
         width: 80%;
     }
     .page .faq .subtitle--black{
         width: 80%;
     }
 
     .page .contact .subtitle--grey{
         width: 80%;
     }
 
     .page .header{
         background-position-y: -280px;
     }
 
     .page .header .main .logo--big{
         display: none;
     }
 
     .page .header .main .logo--small{
         display: inline;
     }
 
     .page .header .images__item{
         height: 40px;
     }
 
     .page .introduction .cards .card{
         margin: 20px 10px;
     }
 
     .page .testimonial .cards .card{
         margin: 40px 10px;
     }
 
     .list{
         margin: 20px 10px;
         min-height: 450px;
     }
 
     .page .info{
         flex-direction: column;
         align-items: center;
        
     }
 
     .page .info--reverse{
         flex-direction: column-reverse;
     }
 
     .page .info__box{
         width: 80%;
         padding: 27% 2%;
         min-width: 250px;
     }
     .page .info .contents{
         width: 80%;
     }
     .page .info .about{
         width: 80%;
         margin: 0;
     }
 
     .page__wrapper--footer{
         flex-direction: column;
     }
 
     .page .footer .footer-items{
         width: 100%;
     }
 
     .footer .navbar__item{
         display: none;
     }
 
     .background--footer{
         padding: 20px 0;
     }
 
     .copyright{
         display: block;
         margin:0 auto;
     }
 }
 
 @media only screen and (max-width: 780px){
 
     .title{
         font-size: 30px;
     }
     .button{
         padding: 10px 10px;
     }
   
     .header .title--white{
         padding: 0;
     }
     .page.price .title--white{
         font-size: 30px;
     }
     .page .faq .title--black{
         font-size: 30px;
     }
     .logo--small{
         height: 50px;
     }
 
     .page .header .images{
         flex-wrap: wrap;
     }
     .page .header .images__item{
         min-width: 100px
     }
     .page .header .navbar__item{
         display: none;
     }
 
     .page .header .main .navbar__item--responsive{
         display: inline;
     }
     
     .page .faq .about .questions:last-child{
         display: none;
     }
     
     .page .faq .about .questions{
        width: 100%;
     }
 
     .page .banner .subtitle--white{
         font-size: 12px;
         width: 90%;
     }
 
     .page .contact__email{
         width: 60%;
         font-size: 14px;
     }
     .page .contact__text{
         width: 60%;
         font-size: 14px;
     }
     .page .contact__message{
         width: 60%;
         font-size: 14px;
     }
 
     .page .footer .about{
         width: 50%;
     }
     .about__text{
         font-size: 12px;
     }
     .about__subtext{
         font-size: 12px;
     }
 
     .page .footer .footer-items .about__title{
         font-size: 14px;
     }
 
     .page .footer .footer-items .quick-link__title{
         font-size: 14px;
     }
 
     .quick-link__text{
         font-size: 12px;
     }
 
     .links__item{
         font-size: 12px;
     }
     .subscribe__title{
         font-size: 14px;
     }
      
     .form__email {
         font-size: 12px;
     }
 }
 
 @media only screen and (max-width: 480px){
     .title {
         font-size: 25px;
     }
     
     .page .header{
         background-position-y: -250px; ;
     }
 }