@mixin d-centre{
    display: flex;
    justify-content: center;
}

@mixin d-between{
    display: flex;
    justify-content: space-between;
}

@mixin d-around{
    display: flex;
    justify-content: space-around;
}